body{
	background-color: white;
}
div.map-container{
	display: block;
	top: 0;
	left: 0;
	right: 0;
	max-width: 1300px;
	max-height: 370px;
	height: 100%;
	width: 100%;
	margin: auto;
}

div.table{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
	max-width: 1200px;
}
}


img.map-image{
	display: block;
	vertical-align: middle;
	width: auto;
	margin: auto;
}

button#list-all{
	display: block;
	vertical-align: middle;
	margin-top: 50;
	width: 200px;
	height: 30px;
}


table#brands-table{
	margin-top: 2px;
	display: inline-block;
	border-collapse: collapse;
	width: auto;

}




th, tr, td{
	vertical-align: middle;
	border: 1px solid gray;
	border-collapse: collapse;
	background-color: transparent;
	height: 25px;
	color: rgb(45,45,45);
}

table#brands-table tr:hover{
	background-color: rgba(255,0,0,0.2);	
}

table.form{
	border: none;
	
}

table.form td{
	border: none;
	
}

th{
	background-color: #d11;
	text-decoration: blink;
	color: white;
}

input{
	display: inline-block;
	width: inherit;
	margin: 0;
	padding: 0;
}

#id, #name, #year, #description,#industry,#imagelink,#website{
	height: 30px;
	cursor: pointer;
}
#id:hover, #name:hover, #year:hover, #description:hover,#industry:hover,#imagelink:hover,#website:hover{
	height: 30px;
	background-color: rgba(255, 0,0, 0.4);
	cursor: pointer;
}


#name{
	width: 150px;
	cursor: pointer;
}

#industry{
	width: 200px;
}
#website{
	width: 200px;
}
#imagelink{
	width: 150px;
}
#year{
	width: 100px;
}
#description{
	width: 300px;
}

button.submit-button{
	margin-left: auto;
	margin-right: auto;
}

button.delete_button, button.edit_button,button.add_button, button.edit_finalize_button{
	height: 25px;
	float: left;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
button.delete_button:hover, button.edit_button:hover,button.add_button:hover, button.edit_finalize_button:hover{
	border: inset 2px rgba(255,255,255, 0.9);
}
	button.edit_button{
		width: 70px;	
	}
	button.delete_button{
		width: 30px;
	}
	button.add_button{
		width: 100px;
	
	}
	button.edit_finalize_button{
		width: 100px;
	}


button#add_row_btn{
	margin-top: 0;
	display: block;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.hidden{
	visibility: hidden;
}


.blue span{
	color: rgb(25, 25, 255);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.green span{
	color: rgb(66, 200, 35);
}
.red span{
	color: rgb(255, 25, 25);
}

