body {
	display: block;
	background-color: white;
	color: #6F6F6F;
	font-family: 'Droid Sans', 'Helvetica', 'sans';
	font-size: 12pt;
	margin: 0px 0px 0px 0px;
	
}

/* Base position for content that is coming from other HTML Files */
div.page-content{
	overflow-y:scroll;
	display: block;
	z-index: 9;
	margin: 0;
	padding: 0;
	position: fixed;
	width: auto;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 100px;
	margin-left: 75px;
}

h1, h2, h3, h4 {
	color: #E9601A;
}

a {
	color: #6F6F6F;
	text-decoration: underline;
}

div#time-date {
	font-size: 80%;
	text-align: right;
}

#logo{
	float: left;
	width: 125px;
	height: 125px;
	margin-left: 75px;
}
#logo-text{
	width: 80px;
	position: fixed;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	margin-left: 88px;
	margin-top: 65px;
	color: black;
	font-size: 11pt;
}

header{
	z-index: 10;
	margin: 0;
	padding: 0;
	position: fixed;
	width: auto;
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

footer{
	z-index: 10;
	margin: 0;
	padding: 0;
	position: fixed;
	width: auto;
	height: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Margin after header */
div.header-margin{
	margin-top: 100px;
}

/* Gradient CSS Code for header */
.gradient-background{
	width: 100%;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d6d6d+0,dbdbdb+16,f1f1f1+50,e1e1e1+51,6d6d6d+100 */
	background: #6d6d6d; /* Old browsers */
	background: -moz-linear-gradient(top,  #6d6d6d 0%, #dbdbdb 16%, #f1f1f1 50%, #e1e1e1 51%, #6d6d6d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(16%,#dbdbdb), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
	-webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-size: 100% 100%;
	/* Created from colorzilla.com */
}

ul#buttons{
	position: absolute;
	list-style-type: none;
	list-style: none;
	top: 55px;
	margin: auto;
	margin-left: 150px;
	
}




/* Button Styles */
.border-top-left-radius{
	border-top-left-radius: 30px;
}
.border-top-right-radius{
	border-top-right-radius: 30px;
}
ul#buttons a{
	margin-right: 1px;
	width: 100px;
	height: 40px;
	float: left;
	background-color: transparent;
	background-clip: content-box;
	border-bottom: 4px double black;
	font-family: 'Arial', 'Helvetica', 'sans';
	font-size: 14pt;
	transition: background-color 0.4s, bottom-bordor 0.4s, width 0.4s;
}
ul#buttons a:hover{
	text-decoration: underline;
	width: 150px;
	color: white !important;
	border-bottom: 5px double red;
	background-color: rgba(255,0,0,0.5);
}
ul#buttons a:link{
	text-decoration: inherit !important;
}
ul#buttons a:visited{
	text-decoration: inherit !important;
}

ul#buttons a li{
	color: rgba(255,0,0,0.7);
	transition: color 0.4s;
}
ul#buttons a li:hover{
	color: white;
}

ul#buttons a li.current-page{
	color: white;
}

li.button{
	display: block;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
}

.current-page{
	color: white;
}






.animated:hover { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}
