body {

	height: 100%;
	display: block;
	background-color: white;
	color: #6F6F6F;
	font-family: 'Droid Sans', 'Helvetica', 'sans';
	font-size: 12pt;
	margin: 0px 0px 0px 0px;
	
}

/* Base position for content that is coming from other HTML Files */
div.page-content{
	z-index: 9;
	margin: 0;
	padding: 0;
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 200px;
	padding-bottom: 200px;
}

h1, h2, h3, h4 {
	color: #E9601A;
}

a {
	color: #6F6F6F;
	text-decoration: underline;
}

div#time-date {
	font-size: 80%;
	text-align: right;
}

#logo{
	float: left;
	width: 125px;
	height: 125px;
	margin-left: 75px;
}
#logo-text{
	width: 80px;
	position: fixed;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	margin-left: 88px;
	margin-top: 65px;
	color: black;
	font-size: 11pt;
}

header{
	z-index: 10;
	margin: 0;
	padding: 0;
	position: fixed;
	width: auto;
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

footer{
	z-index: 10;
	margin: 0;
	padding: 0;
	position: fixed;
	width: auto;
	height: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Margin after header */
div.header-margin{
	margin-top: 100px;
}

/* Gradient CSS Code for header */
.gradient-background{
	width: 100%;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d6d6d+0,dbdbdb+16,f1f1f1+50,e1e1e1+51,6d6d6d+100 */
	background: #6d6d6d; /* Old browsers */
	background: -moz-linear-gradient(top,  #6d6d6d 0%, #dbdbdb 16%, #f1f1f1 50%, #e1e1e1 51%, #6d6d6d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(16%,#dbdbdb), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6d6d6d 0%,#dbdbdb 16%,#f1f1f1 50%,#e1e1e1 51%,#6d6d6d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
	-webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-size: 100% 100%;
	/* Created from colorzilla.com */
}

ul#left-buttons, ul#right-buttons{
	position: absolute;
	list-style-type: none;
	list-style: none;
	top: 55px;
	margin: auto;
	
}
ul#left-buttons{
	margin-left: 150px;
}
ul#right-buttons{
	right: 0;
	margin-right: 50px;
}


/* Button Styles */
.border-top-left-radius{
	border-top-left-radius: 30px;
}
.border-top-right-radius{
	border-top-right-radius: 30px;
}
ul#left-buttons{
	float: left;
	
}

ul#right-buttons{
	float: right;
}
ul#left-buttons a, ul#right-buttons a{
	margin-right: 1px;
	width: 90px;
	height: 40px;
	float: left;
	background-color: transparent;
	background-clip: content-box;
	border-bottom: 3px solid rgba(0,0,0,0);
	font-family: 'Arial', 'Helvetica', 'sans';
	font-size: 12pt;
	transition: background-color 0.4s, bottom-bordor 0.4s, width 0.4s;
}
ul#left-buttons a:hover, ul#right-buttons a:hover{
	text-decoration: underline;
	color: white !important;
	border-bottom: 3px solid red;
	background-color: rgba(255,0,0,0.5);
}
ul#left-buttons a:link, ul#right-buttons a:link{
	text-decoration: inherit !important;
}
ul#left-buttons a:visited, ul#right-buttons a:visited{
	text-decoration: inherit !important;
}

ul#left-buttons a li, ul#right-buttons a li{
	color: rgba(255,0,0,0.7);
	transition: color 0.4s;
}
ul#left-buttons a li:hover, ul#right-buttons a li:hover{
	color: white;
}

ul#left-buttons a li.current-page, ul#right-buttons a li.current-page{
	color: white;
}


li.button{
	display: block;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
}

.current-page{
	color: white;
}



li#search_form{
	float: left;
	width: auto;
	height: 40px;
	margin-right: 1px;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
	background-color: transparent;
	background-clip: content-box;
	border-bottom: 3px solid rgba(0,0,0,0);
	font-family: 'Arial', 'Helvetica', 'sans';
	font-size: 12pt;
}

input#search_text, select#search_area, input#search_button{
	height: 30px;	
}
input#search_button{
	width: 80px;
}

.animated:hover { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}


/* The flipping animation code */
/* Source: https://davidwalsh.name/css-flip */

/* entire container, keeps perspective */
.flip-container {
	perspective: 200px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 90px;
	height: 40px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	color: rgba(255,0,0,0.7);
	position: relative;
	cursor: pointer;
}
.flipper:hover{
	color: white;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	
}

div.front span{
	vertical-align: middle;
	font-size: 1.75em;
}