<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
  {% block title %} plots {% endblock %}

  <!-- Add specific css, js etc. for this page only!-->
  {% block specific_links%}
  <link rel="stylesheet" href="/static/css/pilots.css" />
  {% endblock %}

  <!-- Content for this page -->
  {% block body_content %}




 <div >
    <table>

      <tr>
        <th> ID </th>
        <th > NAME</th>
        <th > SURNAME</th>
        <th > AGE </th>
        <th>  TEAM </th>
        <th > COUNTRY</th>
      </tr>
      {% for id, name, surname, age, team, country in pilots %}
      <tr>
        <td>{{ id }} </td>
        <td>{{ name }} </td>
        <td>{{ surname }} </td>
        <td>{{ age }} </td>
        <td>{{ team }} </td>
        <td>{{ country }} </td>
      </tr>
      {% endfor %}
    </table>
    </br>



<br>





        <div >
    <div>
      <form action="/add_pilot" method="post" id="addpilot">
        Name: <input type="text" name="name"><br>
        Surname: <input type="text" name="surname"><br>
        Age: <input type="text" name="age"><br>
        Team: <input type="text" name="team"><br>
        Country: <input type="text" name="country"><br>
      </form>

      <button type="submit" form="addpilot" value="Submit">Add</button>
    </div>

    <div id="delete-form">
      <form action="/delete_pilot" method="post" id="deletepilot">
        Enter ID: <input type="text" name="id"><br>
      </form>

      <button type="submit" form="deletepilot" value="Submit">Delete</button>
    </div>

    <div>
      <form action="/update_pilot" method="post" id="updatepilot">
        ID: <input type="text" name="id"><br>
        New Name: <input type="text" name="N_name"><br>
        New Surname: <input type="text" name="N_surname"><br>
        New Age: <input type="text" name="N_age"><br>
        New Team: <input type="text" name="N_team"><br>
        New Country: <input type="text" name="N_country"><br>
      </form>

      <button type="submit" form="updatepilot" value="Submit">update</button>
    </div>


    </div>







  {% endblock %}
