<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Brands {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}" />
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}

	  <!-- After Implementing the Database, "the_brand" Will Be Used to Fetch Corresponding Brand's Info -->
           
	   <h2> {{ brand_info[1].strip() }}</h2>
	   <div id="brand_image"><img width="200px" height="200px" src="{{url_for('static', filename='gallery/brands/logos/' + brand_info[4].strip())}}"></div>
	   <table>
	    <tr>
	      <th>Foundation Year: </td>
	      <td>{{ brand_info[3]}}</td>
	    </tr>
	    <tr>
	      <th>Industry: </td>
	      <td>{{ brand_info[5].strip() }}</td>
	    </tr>
	    <tr>
	      <th> Short Description:</td>
	      <td>{{ brand_info[2].strip() }}</td>
	    </tr>
	    <tr>
	      <th> Website:</td>
	      <td><a href="https://{{brand_info[6]}}" >{{ brand_info[6].strip() }}</a></td>
	    </tr>
	   </table>
	   
	  
	    </br>
	    </br>


	{% endblock %}
