<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Brands {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}" />
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}

	  <!-- After Implementing the Database, "the_brand" Will Be Used to Fetch Corresponding Brand's Info -->
           
	   <!--
	   <h2> {{ name }}</h2>
	   <div id="brand_image"><img width="200px" height="200px" src="/static/gallery/brands/logos/{{image_link}}"></div>
	   <table>
	    <tr>
	      <th>Foundation Year: </td>
	      <td>{{ year}}</td>
	    </tr>
	    <tr>
	      <th>Industry: </td>
	      <td>{{ industry }}</td>
	    </tr>
	    <tr>
	      <th> Short Description:</td>
	      <td>{{ description}}</td>
	    </tr>
	    <tr>
	      <th> Website:</td>
	      <td><a href="https://{{website}}" >{{website}}</a></td>
	    </tr>
	   </table>
	   
	  -->
	    </br>
	    </br>


	{% endblock %}
