<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Brands {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}" />
	<script src="/static/js/brands_db.js" type="text/javascript"></script>
	<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}


        
	    <div class="table">
		<table id="brands-table">
		  <caption>List of All Brands</caption>
			<tr>
				
				<th id="name"> Name</th>
				<th id="industry"> Industry </th>
				<th id="year"> Foundation Year </th>
				<th id="website"> Website </th>
				<th id="imagelink">Image Link</th>
				<th id="desc"> Description </th>
				<th> Operation </th>
	
			</tr>
			{% for id, name, description, year, imagelink, industry, website in brands_list %}
			<tr>
			
				<td>{{ name }} </td>
				<td>{{ industry }} </td>
				<td>{{ year }} </td>
				<td>{{ website }} </td>
				<td>{{ imagelink }} </td>
				<td>{{ description }} </td>
				<td>
				  <form action="{{ url_for('brands_db', operation='delete') }}" method="post">
				    <button class="edit_button blue" name="edit" value="{{id}}">
				      <span class="icon-cog ">Edit</span>
				    </button>
				    <button class="delete_button red" name="delete" value="{{id}}">
				      <span class="icon-minus "></span>
				    </button>
				  </form>
				</td>
			</tr>
			{% endfor %}
			
			
			
			<tr id="add_row" class="hidden">
			  <form action="{{ url_for('brands_db', operation='add') }}" method="post" id="add-brand-form">
			    <td id="name"><input type="text" name="brand-name" maxlength="25"></td>
			    <td id="industry"><input type="text" name="industry" maxlength="20"></td>
			    <td id="year"><input type="number" name="foundation" placeholder="Year" min="1800" max="2015"></td>
			    <td id="website"><input type="text" name="website" maxlength="25"></td>
			    <td id="imagelink"><input type="text" name="imagelink" maxlength="50"></td>
			    <td id="description"><input type="text" name="description" maxlength="75"></td>
			  </form>
			<td>
			  <button class="add_button green" type="submit" form="add-brand-form" value="Submit">
			    <span class="icon-checkmark "><span class="black">ADD</span></span>
			  </button>
			</td>

		</tr>
		</table>
		<button id="add_row_btn" onclick="make_visible()"><span class="icon-plus"> Open Add Form</span></button>
		</br>
	
	    </div>
	{% endblock %}
