<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Brands {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}" />
	<script src="/static/js/brands_db.js" type="text/javascript"></script>
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}


        
	    <div class="table">
		{% if table == 0%}
		<table id="brands-table">
		  <caption>List of All Brands</caption>
			<tr>
				
				<th id="name" onclick="location.href = '{{ url_for('brands_db', operation='listbrands-name') }}'"> Name</th>
				<th id="industry" onclick="location.href = '{{ url_for('brands_db', operation='listbrands-industry') }}'"> Industry </th>
				<th id="year" onclick="location.href = '{{ url_for('brands_db', operation='listbrands-year') }}'"> Foundation Year </th>
				<th id="website" onclick="location.href = '{{ url_for('brands_db', operation='listbrands-website') }}'"> Website </th>
				<th id="imagelink" onclick="location.href = '{{ url_for('brands_db', operation='listbrands-image') }}'">Image Link</th>
				<th id="description" onclick="location.href = '{{ url_for('brands_db', operation='listbrands-comment') }}'"> Description </th>
				<th> Operation </th>
	
			</tr>
			
			{% for id, name, description, year, imagelink, industry, website in brands_list %}
			<tr id="table_{{id}}">
			
				<td>{{ name }} </td>
				<td>{{ industry }} </td>
				<td>{{ year }} </td>
				<td>{{ website }} </td>
				<td>{{ imagelink }} </td>
				<td>{{ description }} </td>
				<td>
				  
				  
				  
				  <form action="{{ url_for('brands_db', operation='edit_brand') }}" method='post' id="edit_{{id}}">
				  </form>
				  
				  <div class="edit_delete_forms_{{id}}">
      
				  <button class="edit_button blue" onclick="edit_fields({{id}})">
				    <span class="icon-cog ">Edit</span>
				  </button>
				  <form action="{{ url_for('brands_db', operation='delete_brand') }}" method="post">
				    <button class="delete_button red" name="delete" value="{{id}}" type="submit">
				      <span class="icon-minus "></span>
				    </button>
				  </form>
				  </div>
				</td>
			</tr>
			{% endfor %}
			
			
			
			<tr id="add_row" class="hidden">
			  <form action="{{ url_for('brands_db', operation='add_brand') }}" method="post" id="add-brand-form">
			    <td ><input type="text" placeholder="Name" name="brand-name" maxlength="25"></td>
			    <td ><input type="text" placeholder="Industry" name="industry" maxlength="20"></td>
			    <td ><input type="number" placeholder="Foundation" name="foundation" placeholder="Year" min="1800" max="2015"></td>
			    <td ><input type="text" placeholder="Website" name="website" maxlength="25"></td>
			    <td ><input type="text" placeholder="Image Link" name="imagelink" maxlength="50"></td>
			    <td ><input type="text" placeholder="Description" name="description" maxlength="75"></td>
			  </form>
			<td>
			  <button class="add_button green" type="submit" form="add-brand-form" value="Submit">
			    <span class="icon-checkmark "><span class="black">ADD</span></span>
			  </button>
			</td>

		</tr>
		</table>
		<button id="add_row_btn" onclick="make_visible()"><span class="icon-plus"> Open Add Form</span></button>
		</br>
	    {%elif table == 1%}
	    <table id="founders-table">
		  <caption>List of All Founders</caption>
			<tr>
				
				<th id="name" onclick="location.href = '{{ url_for('brands_db', operation='listfounders-name') }}'"> Name</th>
				<th id="surname" onclick="location.href = '{{ url_for('brands_db', operation='listfounders-surname') }}'"> Surname </th>
				<th id="operation"> Operation </th>
	
			</tr>
			
			{% for id, name, surname, brand_id in founders_list %}
			<tr id="table_{{id}}">
			
				<td>{{ name }} </td>
				<td>{{ surname }} </td>
				<td>
				  
				  
				  
				  <form action='{{ url_for('brands_db', operation='edit_founder') }}' method='post' id="edit_{{id}}">
				  </form>
				  
				  <div class="edit_delete_forms_{{id}}">
      
				  <button class="edit_button blue" onclick="edit_fields_founder({{id}})">
				    <span class="icon-cog ">Edit</span>
				  </button>
				  <form action="{{ url_for('brands_db', operation='delete_founder') }}" method="post">
				    <button class="delete_button red" name="delete" value="{{id}}" type="submit">
				      <span class="icon-minus "></span>
				    </button>
				  </form>
				  </div>
				</td>
			</tr>
			{% endfor %}
			
			
			
			<tr id="add_row" class="hidden">
			  <form action="{{ url_for('brands_db', operation='add_founder') }}" method="post" id="add-founder-form">
			    <td ><input type="text" placeholder="Name" name="founder-name" maxlength="25"></td>
			    <td ><input type="text" placeholder="Surname" name="founder-surname" maxlength="20"></td>
			    <td ><input id="add-input" type="number" name="brand-id" placeholder="Brand ID" min="0"></td>
			  </form>
			<td>
			  <button class="add_button green" type="submit" form="add-founder-form" value="Submit">
			    <span class="icon-checkmark "><span class="black">ADD</span></span>
			  </button>
			</td>

		</tr>
		</table>
		<button id="add_row_btn" onclick="make_visible()"><span class="icon-plus"> Open Add Form</span></button>
		</br>
	    {%elif table == 2%}
		<table id="founders-table">
		  <caption>List of All Founders</caption>
			<tr>
				
				<th id="name" onclick="location.href = '{{ url_for('brands_db', operation='listfounders-name') }}'"> Name</th>
				<th id="surname" onclick="location.href = '{{ url_for('brands_db', operation='listfounders-surname') }}'"> Surname </th>
				<th id="operation"> Operation </th>
	
			</tr>
			
			{% for id, name, surname, brand_id in founders_list %}
			<tr id="table_{{id}}">
			
				<td>{{ name }} </td>
				<td>{{ surname }} </td>
				
			</tr>
			{% endfor %}
		</table>
	    {%endif%}
	    </div>
	{% endblock %}
