<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Brands {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="/static/css/brands.css" />
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}

	<div>
            BRANDS PAGE
        </div>
	{% endblock %}
