<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Cars {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="/static/css/cars.css" />
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}

	<div>

	<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}
</style>
            <table style="width:100%">
  <tr>
    <th></th>

    <th>Name</th>
    <th>Engine</th>
    <th>Speed Limit</th>
    <th>0-100 kmh</th>
    <th>Brand </th>
    <th>Pilot</th>

  </tr>
  <tr>

    <td><img src="https://metrouk2.files.wordpress.com/2014/01/ad125537369refile-updatin.jpg" style="width:300px;height:150px;"></td>
    <td>F1</td>
    <td>V1</td>
    <td>320</td>
    <td>5.3</td>
    <td>Ferrari</td>
    <td>Alonso</td>

  </tr>
  <tr>
    <td>xxx.jpg</td>
    <td>F1</td>
    <td>V1</td>
    <td>320</td>
    <td>5.3</td>
    <td>Ferrari</td>
    <td>Alonso</td>
  </tr>
  <tr>
    <td>xxx.jpg</td>
    <td>F1</td>
    <td>V1</td>
    <td>320</td>
    <td>5.3</td>
    <td>Ferrari</td>
    <td>Alonso</td>
  </tr>
</table>
        </div>
	{% endblock %}
