<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<title>F1DB - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/header.css" />
	<link rel="stylesheet" href="/static/css/footer.css" />
	<link rel="stylesheet" href="/static/css/icomoon.css" />
	<link rel="stylesheet" href="/static/css/animsition.min.css" />
	<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="/static/js/animsition.min.js" type="text/javascript"></script>
	<script src="/static/js/header.js" type="text/javascript"></script>
	
	{% block specific_links %}{% endblock %}
  </head>
  <body>
    <header class="gradient-background">
      
      <span  id="logo">
	<a href="{{ url_for('home') }}"> <img src="/static/gallery/F1DB_Logo.svg"> <i><b id="logo-text">Formula 1 <br> DataBase</b></i></a>
      </span>

      <ul id="buttons">

	<a id="home" class="border-top-left-radius" href="{{ url_for('home') }}">
	  <li class="button border-top-left-radius">
	     Home 
	  </li>
	</a>
	
	<a id="pilots" href="{{ url_for('pilots') }}">
	  <li class="button">
	    Pilots 
	  </li>
	</a>
	
	<a id="cars" href="{{ url_for('cars') }}">
	  <li class="button">
	     Cars 
	  </li>
	</a>
	
	<a id="tracks" href="{{ url_for('tracks') }}">
	  <li class="button">
	     Tracks
	  </li>
	</a>
	
	<a id="brands" href="{{ url_for('brands') }}">
	  <li class="button">
	     Brands
	  </li>
	</a>
	
	<a id="about" class="border-top-right-radius" href="{{ url_for('about') }}">
	  <li class="button">
	     About 
	  </li>
	</a>
	
      </ul>
      
    </header>
    
   
    <div class="header-margin"></div>
    </div>
    <div class="page-content">
      {% block body_content %}{% endblock %}
    </div>
    
  </body>
  <footer class="gradient-background">
    <div id="time-date">{{ current_time }}</div>
  </footer>
</html>