<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<title>F1DB - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/header.css" />
	
	{% block specific_links %}{% endblock %}
  </head>
  <body>
    <header class="gradient-background">
      
      <span  id="logo">
	<a href="{{ url_for('home') }}"> <img src="/static/gallery/F1DB_Logo.svg"> <i><b id="logo-text">Formula 1 <br> DataBase</b></i></a>
      </span>

      <ul id="buttons">

	<a class="border-top-left-radius" href="{{ url_for('home') }}">
	  <li class="button border-top-left-radius">
	     Home 
	  </li>
	</a>
	
	<a href="{{ url_for('home') }}">
	  <li class="button">
	     Pilots 
	  </li>
	</a>
	
	<a href="{{ url_for('home') }}">
	  <li class="button">
	     Cars 
	  </li>
	</a>
	
	<a href="{{ url_for('home') }}">
	  <li class="button">
	     Tracks 
	  </li>
	</a>
	
	<a href="{{ url_for('home') }}">
	  <li class="button">
	     Brands 
	  </li>
	</a>
	
	<a class="border-top-right-radius" href="{{ url_for('home') }}">
	  <li class="button">
	     About 
	  </li>
	</a>
	
      </ul>
      
    </header>
    
   
    <div class="header-margin"></div>
    </div>
    <div class="page-content">
      {% block body_content %}{% endblock %}
    </div>

  </body>
  <footer class="gradient-background">
    <div id="time-date">{{ current_time }}</div>
  </footer>
</html>