<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<title>F1DB - {% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="/static/css/header.css" />
	<link rel="stylesheet" href="/static/css/footer.css" />
	<link rel="stylesheet" href="/static/css/icomoon.css" />
	<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="/static/js/header.js" type="text/javascript"></script>
	
	{% block specific_links %}{% endblock %}
  </head>
  <body>
    <header class="gradient-background">
      
      <span  id="logo">
	<a href="{{ url_for('home') }}"> <img src="/static/gallery/F1DB_Logo.svg"> </a>
      </span>
      
      <div><i><b id="logo-text">Formula 1 <br> DataBase</b></i>
	<ul id="left-buttons">
	  
	  <a id="home" href="{{ url_for('home') }}">
	    <li class="button">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		      <span class="icon-home"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      HOME
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	  
	  <a id="pilots" href="{{ url_for('pilots') }}">
	    <li class="button">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		    <span class="icon-user"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      PILOTS
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	  
	  <a id="cars" href="{{ url_for('cars') }}">
	    <li class="button">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		      <span class="icon-dashboard"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      CARS
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	  
	  <a id="tracks" href="{{ url_for('tracks') }}">
	    <li class="button">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		      <span class="icon-road"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      TRACKS
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	  
	  <a id="brands" href="{{ url_for('brands') }}">
	    <li class="button">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		      <span class="icon-ticket"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      BRANDS
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	  
	  <a id="about"  href="{{ url_for('about') }}">
	    <li class="button">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		      <span class="icon-question"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      ABOUT
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	  <div id="search-field">
	    <li class="button">
	    <form action="action_page.php">
	      <input type="text" name="firstname" value="Mickey">
	      <select>
		<option>All</option>
		<option>Cars</option>
		<option>Pilots</option>
		<option>Tracks</option>
		<option>Brands</option>
	      </select>
	      <input type="submit" value="Submit">
	    </form>
	  </li>
	  </div>
	  
	  
	</ul>
	
	
	
	
	<ul id="right-buttons">
	  <a>
	    <li class="button border-top-right-radius" href="{{ url_for('about') }}">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		      <span class="icon-user-tie"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      LOGIN
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	  <a>
	    <li class="button border-top-right-radius" href="{{ url_for('about') }}">
	       <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 <div class="flipper">
		  <div class="front">
		      <!-- front content -->
		      <span class="icon-plus"></span>
		  </div>
		  <div class="back">
		      <!-- back content -->
		      SIGNUP
		  </div>
		</div>
	      </div> 
	    </li>
	  </a>
	</ul>
      </div>
    </header>
    
   
    <div class="header-margin"></div>
    </div>
    <div class="page-content">
      
      {% block body_content %}{% endblock %}
    </div>
    
  </body>
  <footer class="gradient-background">
    <div id="time-date">{{ current_time }}</div>
  </footer>
</html>
