<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} plots {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="/static/css/about.css" />
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}








 <div >
		<table>

			<tr>
				<th > NAME</th>
				<th > SURNAME</th>
				<th > AGE </th>
				<th>  TEAM </th>
				<th > COUNTRY</th>

			</tr>
			{% for name, surname, age, team, country in pilots %}
			<tr>
				<td>{{ name }} </td>
				<td>{{ surname }} </td>
				<td>{{ age }} </td>
				<td>{{ team }} </td>
				<td>{{ country }} </td>
			</tr>
			{% endfor %}
		</table>
		</br>



<br>


















	{% endblock %}

