<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Search Results {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}

            <h2> SEARCH RESULTS</h2>
            <div class="table">
            <table id="search-table">

            {% if table == 0%}
                {% for x in query_list %}

                    <tr>
                        <td>{{ x }} </td>
                    </tr>

                {% endfor %}

             {% elif table == 1%}
                {% for x in query_list %}

                        <tr>
                        <td class="brand_name">{{ x[1] }} </td>
                        <td class="brand_industry">{{ x[2] }} </td>
                        <td class="brand_year">{{ x[3] }} </td>
                        <td class="brand_web">{{ x[4] }} </td>
                        <td class="brand_image">{{ x[5] }} </td>
                        <td class="brand_description">{{ x[6] }} </td>
                    </tr>

                {% endfor %}

            {% elif table == 2%}
                {% for x in query_list %}

                    <tr>
                        <td>{{ x }} </td>
                    </tr>

                {% endfor %}

            {% elif table == 3%}
                {% for x in query_list %}

                    <tr>
                        <td>{{ x }} </td>
                    </tr>

                {% endfor %}

            {% elif table == 4%}
                {% for id, name, description, year, imagelink, industry, website in query_list %}

                    <tr>
                        <td class="brand_link"><a href="{{ url_for('brand', the_brand = name.strip()) }}">Link</a></td>
                        <td class="brand_name">{{ name }} </td>
                        <td class="brand_industry">{{ industry }} </td>
                        <td class="brand_year">{{ year }} </td>
                        <td class="brand_web">{{ website }} </td>
                        <td class="brand_image">{{ imagelink }} </td>
                        <td class="brand_description">{{ description }} </td>
                    </tr>

                {% endfor %}

            {% elif table == 7%}
                {% for id, name, surname, brand_id in query_list %}

                    <tr>
                        <td class="founder_name">{{ name }} </td>
                        <td class="founder_surname">{{ surname }} </td>
                    </tr>

                {% endfor %}
            {% else %}
                <tr>
                    <td> OH NO! THERE WAS AN ERROR! <td>
                </tr>
            {% endif %}

            </table>
	    </div>
	{% endblock %}
