<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Add same header and footer to all pages -->
    {% extends "layout.html" %}

    <!-- Title for the page -->
	{% block title %} Tracks {% endblock %}

	<!-- Add specific css, js etc. for this page only!-->
	{% block specific_links%}
	<link rel="stylesheet" href="/static/css/tracks.css" />
	{% endblock %}

	<!-- Content for this page -->
	{% block body_content %}


<br>
<br>
<button id="add" onclick="location.href = '{{ url_for('tracks_add') }}'" class="float-left submit-button" >Add Delete Operations</button>

		<div>
             <div class="table">
		<table id="track-table">
		  <caption>List of All Circuits</caption>
			<tr>
				<th id="name"> Circuit </th>
				<th id="map_link"> Map </th>
				<th id="type"> Type </th>
				<th id="direction"> Direction </th>
				<th id="location"> Location </th>
				<th id="current_length"> Current Length </th>
				<th id="Grands_prix_held"> Grands Prix Held </th>

			</tr>

			{% for id in tracks_list %}
			<tr>

				<td>{{ id[0] }} </td>
				<td> <img src={{ id[1] }} style="width:250px;height:125spx;"></td>
				<td>{{ id[2] }} </td>
				<td>{{ id[3] }} </td>
				<td>{{ id[4] }} </td>
				<td>{{ id[5] }} </td>
				<td>{{ id[6] }} </td>

			</tr>
			{% endfor %}
		</table>

<br><br><br><br>

		<table id="season-table">
		  <caption>List of All Seasons</caption>
			<tr>

				<th id="Circuit_name">Circuit</th>
				<th id="Season"> Season</th>
			</tr>

			{% for id in seasons_list %}
			<tr>
				<td>{{ id[0] }} </td>
				<td>{{ id[1] }} </td>

			</tr>
			{% endfor %}
		</table>

<br><br><br><br>

		<table id="grandsprix-table">
		  <caption>List of All Grands Prix</caption>
			<tr>

				<th id="gp_name">Grands Prix</th>
				<th id="races"> Number Of Races</th>
			</tr>

			{% for id in grandsprix_list %}
			<tr>
				<td>{{ id[0] }} </td>
				<td>{{ id[1] }} </td>

			</tr>
			{% endfor %}
		</table>



    	</div>

	{% endblock %}